<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.goods.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.xc.goods.pojo.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_name" jdbcType="VARCHAR" property="articleName" />
    <result column="stock_num" jdbcType="BIGINT" property="stockNum" />
    <result column="stock_unit" jdbcType="VARCHAR" property="stockUnit" />
    <result column="article_type" jdbcType="INTEGER" property="articleType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xc.goods.pojo.Article">
    <result column="article_describe" jdbcType="LONGVARCHAR" property="articleDescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, article_name, stock_num, stock_unit, article_type
  </sql>
  <sql id="Blob_Column_List">
    article_describe
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xc.goods.pojo.ArticleExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xc.goods.pojo.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xc.goods.pojo.ArticleExample">
    delete from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xc.goods.pojo.Article">
    insert into article (id, article_name, stock_num, 
      stock_unit, article_type, article_describe
      )
    values (#{id,jdbcType=BIGINT}, #{articleName,jdbcType=VARCHAR}, #{stockNum,jdbcType=BIGINT}, 
      #{stockUnit,jdbcType=VARCHAR}, #{articleType,jdbcType=INTEGER}, #{articleDescribe,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xc.goods.pojo.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleName != null">
        article_name,
      </if>
      <if test="stockNum != null">
        stock_num,
      </if>
      <if test="stockUnit != null">
        stock_unit,
      </if>
      <if test="articleType != null">
        article_type,
      </if>
      <if test="articleDescribe != null">
        article_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleName != null">
        #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="stockNum != null">
        #{stockNum,jdbcType=BIGINT},
      </if>
      <if test="stockUnit != null">
        #{stockUnit,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleDescribe != null">
        #{articleDescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xc.goods.pojo.ArticleExample" resultType="java.lang.Integer">
    select count(*) from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.articleName != null">
        article_name = #{record.articleName,jdbcType=VARCHAR},
      </if>
      <if test="record.stockNum != null">
        stock_num = #{record.stockNum,jdbcType=BIGINT},
      </if>
      <if test="record.stockUnit != null">
        stock_unit = #{record.stockUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.articleType != null">
        article_type = #{record.articleType,jdbcType=INTEGER},
      </if>
      <if test="record.articleDescribe != null">
        article_describe = #{record.articleDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update article
    set id = #{record.id,jdbcType=BIGINT},
      article_name = #{record.articleName,jdbcType=VARCHAR},
      stock_num = #{record.stockNum,jdbcType=BIGINT},
      stock_unit = #{record.stockUnit,jdbcType=VARCHAR},
      article_type = #{record.articleType,jdbcType=INTEGER},
      article_describe = #{record.articleDescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article
    set id = #{record.id,jdbcType=BIGINT},
      article_name = #{record.articleName,jdbcType=VARCHAR},
      stock_num = #{record.stockNum,jdbcType=BIGINT},
      stock_unit = #{record.stockUnit,jdbcType=VARCHAR},
      article_type = #{record.articleType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.goods.pojo.Article">
    update article
    <set>
      <if test="articleName != null">
        article_name = #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="stockNum != null">
        stock_num = #{stockNum,jdbcType=BIGINT},
      </if>
      <if test="stockUnit != null">
        stock_unit = #{stockUnit,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        article_type = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleDescribe != null">
        article_describe = #{articleDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xc.goods.pojo.Article">
    update article
    set article_name = #{articleName,jdbcType=VARCHAR},
      stock_num = #{stockNum,jdbcType=BIGINT},
      stock_unit = #{stockUnit,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=INTEGER},
      article_describe = #{articleDescribe,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.goods.pojo.Article">
    update article
    set article_name = #{articleName,jdbcType=VARCHAR},
      stock_num = #{stockNum,jdbcType=BIGINT},
      stock_unit = #{stockUnit,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>