body {
	margin: 0px;
	background-image: none;
	position: static;
	left: auto;
	width: 1371px;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

#base {
	position: absolute;
	z-index: 0;
}

#u1316_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 563px;
	background: inherit;
	background-color: rgba(242, 242, 242, 1);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#u1316 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 563px;
}

#u1317 {
	position: absolute;
	left: 2px;
	top: 274px;
	width: 996px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1318_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 108px;
	background: inherit;
	background-color: rgba(57, 61, 73, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(57, 61, 73, 1);
	border-radius: 2px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#u1318 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 108px;
}

#u1319 {
	position: absolute;
	left: 2px;
	top: 46px;
	width: 996px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1320_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 96px;
	height: 46px;
	background: inherit;
	background-color: rgba(57, 61, 73, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(57, 61, 73, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #C2C2C2;
}

#u1320 {
	position: absolute;
	left: 14px;
	top: 62px;
	width: 96px;
	height: 46px;
	opacity: 0.8;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #C2C2C2;
}

#u1320_div.mouseOver {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 96px;
	height: 46px;
	background: inherit;
	background-color: rgba(57, 61, 73, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(57, 61, 73, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #C2C2C2;
}

#u1320.mouseOver {
	
}

#u1321 {
	position: absolute;
	left: 2px;
	top: 13px;
	width: 92px;
	word-wrap: break-word;
}

#u1322_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 96px;
	height: 5px;
	background: inherit;
	background-color: rgba(255, 153, 0, 1);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#u1322 {
	position: absolute;
	left: 14px;
	top: 103px;
	width: 96px;
	height: 5px;
}

#u1323 {
	position: absolute;
	left: 2px;
	top: -6px;
	width: 92px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1324_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1001px;
	height: 2px;
}

#u1324 {
	position: absolute;
	left: 0px;
	top: 61px;
	width: 1000px;
	height: 1px;
}

#u1325 {
	position: absolute;
	left: 2px;
	top: -8px;
	width: 996px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1326_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 37px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
}

#u1326 {
	position: absolute;
	left: 14px;
	top: 15px;
	width: 257px;
	height: 37px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
}

#u1327 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	white-space: nowrap;
}

#u1328_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	height: 20px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
}

#u1328 {
	position: absolute;
	left: 14px;
	top: 127px;
	width: 57px;
	height: 20px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
}

#u1329 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	white-space: nowrap;
}

#u1330_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 246px;
	height: 38px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 2px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#u1330 {
	position: absolute;
	left: 95px;
	top: 118px;
	width: 246px;
	height: 38px;
}

#u1331 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 242px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1332 {
	position: absolute;
	left: 99px;
	top: 125px;
	width: 238px;
	height: 25px;
}

#u1332_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 238px;
	height: 25px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
	text-align: left;
	border-color: transparent;
	outline-style: none;
}

#u1333_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	height: 20px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
}

#u1333 {
	position: absolute;
	left: 399px;
	top: 127px;
	width: 57px;
	height: 20px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
}

#u1334 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 57px;
	white-space: nowrap;
}

#u1335_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 94px;
	height: 38px;
}

#u1335 {
	position: absolute;
	left: 883px;
	top: 118px;
	width: 94px;
	height: 38px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1335_img.mouseOver {
	
}

#u1335.mouseOver {
	
}

#u1336 {
	position: absolute;
	left: 2px;
	top: 9px;
	width: 90px;
	word-wrap: break-word;
}

#u1337 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
}

#u1338_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 332px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1338 {
	position: absolute;
	left: 645px;
	top: 521px;
	width: 332px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1339 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 328px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1340_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-right: 0px;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1340 {
	position: absolute;
	left: 645px;
	top: 521px;
	width: 35px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1340_div.selected {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(0, 150, 136, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-right: 0px;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1340.selected {
	
}

#u1341 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 31px;
	word-wrap: break-word;
}

#u1342_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1342 {
	position: absolute;
	left: 680px;
	top: 521px;
	width: 35px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1342_div.selected {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(0, 150, 136, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1342.selected {
	
}

#u1343 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 31px;
	word-wrap: break-word;
}

#u1344_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1344 {
	position: absolute;
	left: 714px;
	top: 521px;
	width: 35px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1344_div.selected {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(0, 150, 136, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1344.selected {
	
}

#u1345 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 31px;
	word-wrap: break-word;
}

#u1346_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1346 {
	position: absolute;
	left: 748px;
	top: 521px;
	width: 35px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1346_div.selected {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(0, 150, 136, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1346.selected {
	
}

#u1347 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 31px;
	word-wrap: break-word;
}

#u1348_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1348 {
	position: absolute;
	left: 782px;
	top: 521px;
	width: 35px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1348_div.selected {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 28px;
	background: inherit;
	background-color: rgba(0, 150, 136, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1348.selected {
	
}

#u1349 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 31px;
	word-wrap: break-word;
}

#u1350_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1350 {
	position: absolute;
	left: 816px;
	top: 521px;
	width: 44px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1351 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 40px;
	word-wrap: break-word;
}

#u1352_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1352 {
	position: absolute;
	left: 859px;
	top: 521px;
	width: 54px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1353 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 50px;
	word-wrap: break-word;
}

#u1354_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 65px;
	height: 28px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(226, 226, 226, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1354 {
	position: absolute;
	left: 912px;
	top: 521px;
	width: 65px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

#u1355 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 61px;
	word-wrap: break-word;
}

#u1356 {
	position: absolute;
	left: 482px;
	top: 118px;
	width: 246px;
	height: 38px;
}

#u1356_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 246px;
	height: 38px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
}

#u1356_input:disabled {
	color: grayText;
}

#u1357 {
	position: absolute;
	left: 14px;
	top: 166px;
	width: 968px;
	height: 347px;
}

#u1358_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1358 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
}

#u1359 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1360_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1360 {
	position: absolute;
	left: 55px;
	top: 0px;
	width: 470px;
	height: 38px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
}

#u1361 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 466px;
	word-wrap: break-word;
}

#u1362_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1362 {
	position: absolute;
	left: 525px;
	top: 0px;
	width: 162px;
	height: 38px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
}

#u1363 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 158px;
	word-wrap: break-word;
}

#u1364_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1364 {
	position: absolute;
	left: 687px;
	top: 0px;
	width: 73px;
	height: 38px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
}

#u1365 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 69px;
	word-wrap: break-word;
}

#u1366_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1366 {
	position: absolute;
	left: 760px;
	top: 0px;
	width: 100px;
	height: 38px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
}

#u1367 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 96px;
	word-wrap: break-word;
}

#u1368_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1368 {
	position: absolute;
	left: 860px;
	top: 0px;
	width: 103px;
	height: 38px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
}

#u1369 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 99px;
	word-wrap: break-word;
}

#u1370_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1370 {
	position: absolute;
	left: 0px;
	top: 38px;
	width: 55px;
	height: 38px;
}

#u1371 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1372_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1372 {
	position: absolute;
	left: 55px;
	top: 38px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1373 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1374_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1374 {
	position: absolute;
	left: 525px;
	top: 38px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1375 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1376_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1376 {
	position: absolute;
	left: 687px;
	top: 38px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1377 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1378_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1378 {
	position: absolute;
	left: 760px;
	top: 38px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1379 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1380_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1380 {
	position: absolute;
	left: 860px;
	top: 38px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1381 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1382_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1382 {
	position: absolute;
	left: 0px;
	top: 76px;
	width: 55px;
	height: 38px;
}

#u1383 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1384_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1384 {
	position: absolute;
	left: 55px;
	top: 76px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1385 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1386_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1386 {
	position: absolute;
	left: 525px;
	top: 76px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1387 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1388_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1388 {
	position: absolute;
	left: 687px;
	top: 76px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1389 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1390_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1390 {
	position: absolute;
	left: 760px;
	top: 76px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1391 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1392_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1392 {
	position: absolute;
	left: 860px;
	top: 76px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1393 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1394_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1394 {
	position: absolute;
	left: 0px;
	top: 114px;
	width: 55px;
	height: 38px;
}

#u1395 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1396_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1396 {
	position: absolute;
	left: 55px;
	top: 114px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1397 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1398_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1398 {
	position: absolute;
	left: 525px;
	top: 114px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1399 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1400_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1400 {
	position: absolute;
	left: 687px;
	top: 114px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1401 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1402_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1402 {
	position: absolute;
	left: 760px;
	top: 114px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1403 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1404_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1404 {
	position: absolute;
	left: 860px;
	top: 114px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1405 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1406_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1406 {
	position: absolute;
	left: 0px;
	top: 152px;
	width: 55px;
	height: 38px;
}

#u1407 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1408_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1408 {
	position: absolute;
	left: 55px;
	top: 152px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1409 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1410_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1410 {
	position: absolute;
	left: 525px;
	top: 152px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1411 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1412_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1412 {
	position: absolute;
	left: 687px;
	top: 152px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1413 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1414_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1414 {
	position: absolute;
	left: 760px;
	top: 152px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1415 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1416_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1416 {
	position: absolute;
	left: 860px;
	top: 152px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1417 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1418_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1418 {
	position: absolute;
	left: 0px;
	top: 190px;
	width: 55px;
	height: 38px;
}

#u1419 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1420_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1420 {
	position: absolute;
	left: 55px;
	top: 190px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1421 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1422_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1422 {
	position: absolute;
	left: 525px;
	top: 190px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1423 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1424_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1424 {
	position: absolute;
	left: 687px;
	top: 190px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1425 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1426_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1426 {
	position: absolute;
	left: 760px;
	top: 190px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1427 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1428_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1428 {
	position: absolute;
	left: 860px;
	top: 190px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1429 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1430_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1430 {
	position: absolute;
	left: 0px;
	top: 228px;
	width: 55px;
	height: 38px;
}

#u1431 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1432_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1432 {
	position: absolute;
	left: 55px;
	top: 228px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1433 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1434_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1434 {
	position: absolute;
	left: 525px;
	top: 228px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1435 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1436_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1436 {
	position: absolute;
	left: 687px;
	top: 228px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1437 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1438_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1438 {
	position: absolute;
	left: 760px;
	top: 228px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1439 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1440_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1440 {
	position: absolute;
	left: 860px;
	top: 228px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1441 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1442_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1442 {
	position: absolute;
	left: 0px;
	top: 266px;
	width: 55px;
	height: 38px;
}

#u1443 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1444_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1444 {
	position: absolute;
	left: 55px;
	top: 266px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1445 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1446_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1446 {
	position: absolute;
	left: 525px;
	top: 266px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1447 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1448_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1448 {
	position: absolute;
	left: 687px;
	top: 266px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1449 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1450_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1450 {
	position: absolute;
	left: 760px;
	top: 266px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1451 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1452_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1452 {
	position: absolute;
	left: 860px;
	top: 266px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1453 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1454_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 55px;
	height: 38px;
}

#u1454 {
	position: absolute;
	left: 0px;
	top: 304px;
	width: 55px;
	height: 38px;
}

#u1455 {
	position: absolute;
	left: 2px;
	top: 11px;
	width: 51px;
	word-wrap: break-word;
}

#u1456_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 38px;
}

#u1456 {
	position: absolute;
	left: 55px;
	top: 304px;
	width: 470px;
	height: 38px;
	text-align: left;
}

#u1457 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 458px;
	word-wrap: break-word;
}

#u1458_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 38px;
}

#u1458 {
	position: absolute;
	left: 525px;
	top: 304px;
	width: 162px;
	height: 38px;
	text-align: left;
}

#u1459 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 150px;
	word-wrap: break-word;
}

#u1460_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 73px;
	height: 38px;
}

#u1460 {
	position: absolute;
	left: 687px;
	top: 304px;
	width: 73px;
	height: 38px;
	text-align: left;
}

#u1461 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 61px;
	word-wrap: break-word;
}

#u1462_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 38px;
}

#u1462 {
	position: absolute;
	left: 760px;
	top: 304px;
	width: 100px;
	height: 38px;
	text-align: left;
}

#u1463 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 88px;
	word-wrap: break-word;
}

#u1464_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 38px;
}

#u1464 {
	position: absolute;
	left: 860px;
	top: 304px;
	width: 103px;
	height: 38px;
	text-align: left;
}

#u1465 {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 91px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1466_img {
	width: 50px;
	height: 20px;
	background-color: #4bb2ff;
	margin-left: 31px;
	line-height: 20px;
}

#u1466 {
	position: absolute;
	left: 900px;
	top: 209px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1466_img.mouseOver {
	
}

#u1466.mouseOver {
	
}

#u1467 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1468_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1468 {
	position: absolute;
	left: 900px;
	top: 247px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1468_img.mouseOver {
	
}

#u1468.mouseOver {
	
}

#u1469 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1470_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1470 {
	position: absolute;
	left: 900px;
	top: 286px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1470_img.mouseOver {
	
}

#u1470.mouseOver {
	
}

#u1471 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1472_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1472 {
	position: absolute;
	left: 900px;
	top: 325px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1472_img.mouseOver {
	
}

#u1472.mouseOver {
	
}

#u1473 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1474_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1474 {
	position: absolute;
	left: 900px;
	top: 362px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1474_img.mouseOver {
	
}

#u1474.mouseOver {
	
}

#u1475 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1476_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1476 {
	position: absolute;
	left: 900px;
	top: 400px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1476_img.mouseOver {
	
}

#u1476.mouseOver {
	
}

#u1477 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1478_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1478 {
	position: absolute;
	left: 900px;
	top: 439px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1478_img.mouseOver {
	
}

#u1478.mouseOver {
	
}

#u1479 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1480_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 28px;
}

#u1480 {
	position: absolute;
	left: 900px;
	top: 475px;
	width: 50px;
	height: 28px;
	font-family: 'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#u1480_img.mouseOver {
	
}

#u1480.mouseOver {
	
}

#u1481 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 46px;
	word-wrap: break-word;
}

#u1482_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361px;
	height: 220px;
	background: inherit;
	background-color: rgba(242, 242, 242, 1);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#u1482 {
	position: absolute;
	left: 1010px;
	top: 4px;
	width: 361px;
	height: 220px;
}

#u1483 {
	position: absolute;
	left: 2px;
	top: 102px;
	width: 357px;
	visibility: hidden;
	word-wrap: break-word;
}

#u1484_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 334px;
	height: 22px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	line-height: 22px;
}

#u1484 {
	position: absolute;
	left: 1028px;
	top: 23px;
	width: 334px;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
}

#u1485 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 334px;
	word-wrap: break-word;
}

#u1486_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}

#u1486 {
	position: absolute;
	left: 1028px;
	top: 55px;
	width: 24px;
	height: 24px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#u1487 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 20px;
	word-wrap: break-word;
}

#u1488_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 177px;
	height: 22px;
}

#u1488 {
	position: absolute;
	left: 1062px;
	top: 56px;
	width: 177px;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
}

#u1489 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 177px;
	white-space: nowrap;
}

#u1490_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 66px;
}

#u1490 {
	position: absolute;
	left: 1062px;
	top: 88px;
	width: 300px;
	height: 66px;
	font-size: 16px;
	line-height: 22px;
}

#u1491 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	word-wrap: break-word;
}

#u1492_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}

#u1492 {
	position: absolute;
	left: 1028px;
	top: 109px;
	width: 24px;
	height: 24px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#u1493 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 20px;
	word-wrap: break-word;
}

#u1494_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}

#u1494 {
	position: absolute;
	left: 1028px;
	top: 174px;
	width: 24px;
	height: 24px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#u1495 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 20px;
	word-wrap: break-word;
}

#u1496_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 44px;
}

#u1496 {
	position: absolute;
	left: 1062px;
	top: 164px;
	width: 300px;
	height: 44px;
	font-size: 16px;
	line-height: 22px;
}

#u1497 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	word-wrap: break-word;
}

#u1498_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 28px;
	height: 28px;
}

#u1498 {
	position: absolute;
	left: 309px;
	top: 123px;
	width: 28px;
	height: 28px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#u1499 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 24px;
	word-wrap: break-word;
}

#u1500_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 28px;
	height: 28px;
}

#u1500 {
	position: absolute;
	left: 935px;
	top: 196px;
	width: 28px;
	height: 28px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#u1501 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 24px;
	word-wrap: break-word;
}

#u1502_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 28px;
	height: 28px;
}

#u1502 {
	position: absolute;
	left: 962px;
	top: 508px;
	width: 28px;
	height: 28px;
	font-family: 'Arial Negreta', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#u1503 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 24px;
	word-wrap: break-word;
}